<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title><%= @site.name %></title>
    <link rel="stylesheet" href="<%= asset "css/styles.css" %>">
  </head>
  <body>
    <div class="container">
      <h1 class="header">
        <span>
          <%= @site.name %>
          &#x2708;
        </span>
        <span>
          <%= @site.description %>
        </span>
      </h1>

      <%= include "nav" %>

      <%= @contents %>

    </div>
  </body>
</html>
